* {
  margin: 0;
  padding: 0;
}

.rectUnit {
  position: absolute;
  transform: scale(1.0) rotate(0deg);
  transform-origin: left top;
  border: 1px solid red;
  cursor: pointer;
}

.rectUnit.hidden {
  visibility: hidden;
}

.rectUnit.sel{
  background: red;
  opacity: 0.3;
  z-index: 101;
}

/*.point {
  position: absolute;
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 4px;
  cursor: move;
  font-size: 12px;
}

.point.sel {
  background: yellow;
}

.pt1 {
  left: -4px;
  top: -4px;
  cursor: default;
}
.pt2 {
  right: -4px;
  top: -4px;
}
.pt3 {
  right: -4px;
  bottom: -4px;
}
.pt4 {
  left: -4px;
  bottom: -4px;
}*/



.borderpoint {
  position: absolute;
}
.bdpt1 {
  width: 100%;
  height: 6px;
  top: -3px;
  cursor: ns-resize;
}
.bdpt2 {
  width: 6px;
  height: 100%;
  cursor: ew-resize;
  right: -3px;
}
.bdpt3 {
  width: 100%;
  height: 6px;
  cursor: ns-resize;
  bottom: -3px;
}
.bdpt4 {
  width: 6px;
  height: 100%;
  cursor: ew-resize;
  left: -3px;
}


.drawRect {
  position: absolute;
  border: 1px solid red;
  width: 0;
  height: 0;
}

#record {
  height: 300px;
  overflow:auto;
}

.rectItem {
  text-align: center;
  margin-bottom: 20px;
}
/*.rectItem .coorPoint{
  display: inline-block;
  box-sizing: border-box;
  width: 135px;
  padding:0 10px;
  font-size: 14px;
}*/
.rectItem input {
  margin-top: 5px;
}
