{% extends 'base.html' %}
{% block content %}
{% if ret.status == '-1' %}
    <script>
    var initPath = "/static/res/finished.jpg";
    </script>
{% elif ret.status == '-2' or ret.status == '-3' %}
    <script>
    // location.href = "/Error";
    alert("服务器忙,请稍后再试");
    </script>
{% else %}
    <script>
    var initPath = "{{ ret.imagePath }}";
    var message = "{{ ret.message }}";
    </script>
{% endif %}
<div id="imagePart">
<img id="image" alt="背景图片" crossOrigin = "anonymous">
<div id="RectContainer"></div>
<!--<div id="resizeContainer"></div>-->
<div class="buttonPart" id="resizeButtonPart">
<!--<button id="goBack">上一张</button>-->
<span id="bookInfo">{{ ret.bookName }}第{{ ret.volume }}章第{{ret.page}}页</span>
<span id="workState">
	当前列:<span id="workStateCol">0</span>
	当前序号:<span id="workStateIdx">0</span>	
</span>
<button id="btnResize">缩放模式</button>
<!--<button id="clear">清除</button>
<button id="btnExport">导出</button>-->
</div>

<canvas id="canvas"></canvas>
</div>
<div id="formPart">
<h3>完成情况</h3>
<p>已标记：<br>
<span id="imageCount">{{ ret.completeCount }}</span>张相片<br>
<span id="rectCount">{{ ret.rectCount }}</span>个矩形框
</p>
<h3>标记记录</h3>
<div id="record">
</div>
<button id="submit">提交</button>
</div>
<div id="labelPart">
<h3>备选标记</h3>
<div id="labelContainer"></div>
</div>
<script src="/static/index.js"></script>
{% endblock %}
