{% extends 'base.html' %}
{% block content %}
<link href="/static/introduction.css"  rel="stylesheet" />
<ol>
    <li>只有在登录的情况下方可进行标记和检查工作。可以点击“<b>登录</b>”和“<b>注册</b>”进行相关操作,点击“<b>退出</b>”按钮可以退出登录</li>
    <li>通过长按鼠标左键并拖动鼠标的方式可以选择一个矩形区域，并在<b>表单信息-标机记录区域</b>会出现相应的输入框以及位置坐标显示。</li>
    <li class="options">从左上角开始按顺时针方向分别为1,2,3,4点。请按照如下几点进行操作：
    <ul>
        <li>拖动点2，矩形的<b>高</b>（点1与点4的距离）固定不变，以点1为中心按照鼠标的轨迹的旋转。<b>请保证点2在点1的右方</b></li>
        <li>拖动点3，矩形的宽高比固定不变，以点1为中心按照鼠标的轨迹的旋转。<b>请保证点3在点1的右方</b></li>
        <li>拖动点4，矩形的<b>宽</b>（点1与点2的距离）固定不变，以点1为中心按照鼠标的轨迹的旋转。<b>请保证点4在点1的下方</b></li>
        <li>拖动矩形的边界可进行缩放</li>
    </ul>
    </li>
    <li>关于语言选项：数字按英文处理</li>
    <li class="option1">拖动矩形操作结束后（松开鼠标时）将会<b>自动聚焦</b>到输入框,用户可<b>直接</b>输入标注信息,无需额外点击输入框。（正在聚焦的矩形框四个点的颜色会变成黄色）</li>
    <li>点击<b>删除</b>按钮，即可删除相应的矩形框</li>
    <li class="options">如果文字太小影响标注，可以点击<b>进入缩放模式</b>按钮，按照相同的方式选定放大区域即可。
        <ul>
            <li>点击<b>清除</b>按钮可清除当前区域，并重新选择放大区域</li>
            <li>点击<b>导出</b>按钮则可以看到放大后的图片，并请在<b>图片放大镜</b>区域按照相同操作标定数据</li>
            <li>该放大区域标注完成后，请务必点击<b>保存并退出</b>按钮</li>
        </ul>
    </li>
    <li>请选择<b>图片质量</b>，<b>语言，</b>以及<b>场景</b>三个必填选项</li>
    <li>完成情况出会显示用户已标记的<b>图片数量</b>和<b>矩形框数量</b></li>
    <li>完成图片标注后选择提交进入下一张图片</li>
    <li class="tips">快捷键提示：Tab键——聚焦至下一矩形框</li>
    <li>进行检查工作时，如果标注信息无误，点击“确认”或者按回车键即可继续进行下一张相片的检查工作</li>
    <li>点击<b>上一张</b>按钮可以查看<b>此次打开页面</b>后已检查的相片，如果需要查看已检查所有相片，请点击<b>查看已检查图片</b>按钮，如果需要继续检查，请点击“<b>继续检查</b>”按钮</li>
</ol>
{% endblock %}
